div{
    width: 100px;
    height: 100px;
    background-color: aqua;
}
div::after{
    content:"";
    /*color:rgb(28,53,53)*/
    width: 50px;
    height: 50px;
    background-color: yellow;
    border-radius: 50%;
    display: inline-block;
    position:absolute;
    left: 120px;
}
