<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./assest/style.css">
</head>
<body>
    <div class="header">
        <img class="alov" src="/assest/250-2502600_orange-flame-icon-grey-fire-icon.png" alt="logo">
    <div class="Yazilar">
        <a class="active" href="#">Logo</a>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Portfolio</a>
        <div>
            <a class="Contact" href="#">Contact</a>
        </div>
    </div>    
 </div>
<div>
    <h1> <span class="Port"> Portfolio </span><span class="rw">Recent Work</span> </h1> 
</div>
<div>
    <img class="dog" src="/assest/what-you-should-know-about-owning-a-golden-retriever.jpg" alt="dog">
    <h2>Project Title</h2>
    <b>
        blabla
    </b>
</div>
<div>
    <img class="prada" src="/assest/download.jfif" alt="prada">
    <h3>Project Title</h3>
    <b class="sozler">
        abcdef
    </b>
</div>
<div>
    <img class="Car" src="/assest/Lamborghini_Sian_at_IAA_2019_IMG_0332.jpg" alt="Car">
</div>
<div>
    <img class="House" src="/assest/290727782.jpg" alt="House">
</div>
</body>
</html>