*{
    margin: 0%;
}
.header{   
background-color:black;
    margin: 0%;
    padding-left: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    height: 35px;
}
.alov{
    position: absolute;
    left: 18px;
    top: 10px;
    width: 20px;
    height: 20px;
}
.header a {
    float: left;
    color: gray;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
    margin-top: -7px;
  }
  .header a:hover {
    color: white;
  }
.Yazilar{
    margin-left: 9px;
    padding-left: 14px;
}
div>a{
    padding-top: 2px;
}
.Contact{
    position: absolute;
    padding-left: 2425px;
    display: inline;
}
.Port{
    position: absolute;
    left: 30px;
    font-family:'Times New Roman', Times, serif;
}

.rw{
    position: absolute;
    left: 157px;
    padding-top: 10px;
    font-size: 18px;
    color: gray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.dog{
    position: absolute;
    padding-top: 70px;
    left: 18px;
    width: 600px;
    height: 300px; 
}
.prada{
    position: absolute;
    padding-top: 70px;
    left: 700px;
    width: 600px;
    height: 300px;    
}
h2{
    position: absolute;
    margin-top: 390px;
    left: 40px;
    font-size: 20px ;
    font-family: Georgia, 'Times New Roman', Times, serif;
     color: blue;
}
h3{
    position: absolute;
    margin-top: 390px;
    left: 720px;
    font-size: 20px ;
    font-family: Georgia, 'Times New Roman', Times, serif;
     color: blue;
}
b{
    position: absolute;
    margin-top: 420px;
    left: 40px;
    font-size: 14px ;
    font-family: Georgia, 'Times New Roman', Times, serif;
     color: black;
}
.sozler{
    position: absolute;
    margin-top: 420px;
    left: 720px;
    font-size: 14px ;
    font-family: Georgia, 'Times New Roman', Times, serif;
     color: black;
}
.Car{
    position: absolute;
    padding-top: 450px;
    left: 700px;
    width: 600px;
    height: 300px; }

.House{
    position: absolute;
    padding-top: 450px;
    left: 18px;
    width: 600px;
    height: 300px;    
}

